<h1>MIAA Janrain widget integration test for an Ember.js app</h1>

<p>
  <a href="miaa.html">Go to static miaa example page</a>

  (taken from
  <a target="_blank" href="https://miaasolutions.atlassian.net/wiki/spaces/MJ/pages/100137199/How+to+onboard+a+website+as+of+Release+1.4#Howto:onboardawebsiteasofRelease1.4-step1.createanindex.html">
    miaasolutions.atlassian.net
  </a>
  )
</p>

<p>
  {{#link-to 'miaa'}}
    Go to Ember.js miaa test page
  {{/link-to}}
</p>

{{outlet}}
