<h1>MIAA Janrain widget integration test for an Ember.js app</h1>

{{outlet}}

<p>
  example
  <a href="miaa.html">miaa.html</a>
  taken from
  <a target="_blank" href="https://miaasolutions.atlassian.net/wiki/spaces/MJ/pages/100137199/How+to+onboard+a+website+as+of+Release+1.4#Howto:onboardawebsiteasofRelease1.4-step1.createanindex.html">
    https://miaasolutions.atlassian.net/wiki/spaces/MJ/pages/100137199/How+to+onboard+a+website+as+of+Release+1.4#Howto:onboardawebsiteasofRelease1.4-step1.createanindex.html
  </a>
</p>
